<button {{action 'playAudio' }}>Play Music</button>
<button {{action 'pauseAudio'}}>Pause Music</button>
<button {{action 'fadeInAudio'}}>Fade In Music</button>
<button {{action 'fadeOutAudio'}}>Fade Out Music</button>
<button {{action 'toggleFadeAudio'}}>Toggle Fade Music</button>